@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;700&display=swap');

body {
    background-color: #FDEFE1;
    font-family: 'Krub', sans-serif;
}

header {
    background-color: #FDEFE1;
    font-family: 'Hanalei Fill', cursive;
    color: #011011;
    font-size: 2rem;
}

header h1 {
   
    margin-top: 2rem;
    margin-left: 2rem;
}


.rektangelLogo {
    width: 11rem;
    height: 2rem;
    background-color: #C2966D;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; 
    
}

header nav ul {
    font-family:'Krub', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.topContainer {
    display: flex;
    border-bottom: 0.1rem solid #011011;
}

.topContainer img {
    width: 9.5rem;
    object-fit: cover;
    border: 0.5rem solid #011011;
    margin-right: 5rem; 
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
  






@media screen and (min-width: 800px) {
    .top-section {
        flex-wrap: nowrap;
    }